body {
    margin: 0px;
    overflow: hidden; /* To prevent scrollbars */
    padding: 0px;

}

video {
    width: 100%;
    height: auto;
    max-width: 100%; /* To ensure the video doesn't exceed the viewport width */
    margin: 0px auto; /* Center the video horizontally */

}

.video-container {
    position: relative;
}


/* Styling for the overlay text */
.jacklohmar-title {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: white;

    font-family: 'HeadingNow';
    font-size: clamp(22px, 4vw, 40px);
    text-transform: uppercase;
}

.resume-title{
    position: absolute;
    top: 2vh; /* Adjust the top position as needed */
    left: 10%; /* Center horizontally */
    color: white;

    font-family: 'HeadingNow';
    font-size: clamp(16px, 4vw, 20px);
    text-transform: uppercase;
}

.contact-title{
    position: absolute;
    top: 2vh; /* Adjust the top position as needed */
    right: 10%; /* Center horizontally */
    color: white;

    font-family: 'HeadingNow';
    font-size: clamp(16px, 4vw, 20px);
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .resume-title, .contact-title, .jacklohmar-title{
        display: none;
    }
}

.container {
    max-width: 1000px;
    padding: 0px;

}

.itemx{
    width:100%;
    align-items: center;

}

.navbar {
    max-width: 1000px; /* Set your desired maximum width */
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 100%;
}
@media (min-width: 599px) {
    .navbar{
        display: none;
    }
}

.navbar-collapse{
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    background-color: black;
    text-align: center;
    font-family: 'HeadingNow';
    font-size: clamp(20px, 4vw, 28px);
}

.navbar-brand{
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: white;

    font-family: 'HeadingNow';
    font-size: clamp(22px, 4vw, 40px);
    text-transform: uppercase;
}

.navbar-toggler{
    border: none;
    position: absolute;
    top: 1.25vh; /* Adjust the top position as needed */
    right: 3%; /* Center horizontally */
    color: white;

}

.navbar-header{
    width: 100%;
    justify-content: center;
}

@font-face {
    font-family: 'BebasKai'; /* Choose a name for your font */
    src: url('/fonts/BebasKai.ttf') format('.ttf'); /* Update the path to your font file */
    /* You can include additional font formats if needed, e.g., woff, ttf, eot */
}

@font-face {
    font-family: 'BebasNeue'; /* Choose a name for your font */
    src: url('/fonts/BebasNeue-Regular.ttf') format('.ttf'); /* Update the path to your font file */
    /* You can include additional font formats if needed, e.g., woff, ttf, eot */
}
@font-face {
    font-family: 'Oswald'; /* Choose a name for your font */
    src: url('/fonts/Oswald-VariableFont_wght') format('.ttf'); /* Update the path to your font file */
    /* You can include additional font formats if needed, e.g., woff, ttf, eot */
}
@font-face {
    font-family: 'Cocogoose'; /* Choose a name for your font */
    src: url('/fonts/Cocogoose-Pro-Regular-trial.ttf') format('.ttf'); /* Update the path to your font file */
    /* You can include additional font formats if needed, e.g., woff, ttf, eot */
}
@font-face {
    font-family: 'Evogria'; /* Choose a name for your font */
    src: url('/fonts/Evogria.otf') format('.otf'); /* Update the path to your font file */
    /* You can include additional font formats if needed, e.g., woff, ttf, eot */
}
@font-face {
    font-family: 'HeadingNow'; /* Choose a name for your font */
    src: url('/fonts/HeadingNowTrial-44Regular.ttf') format('.ttf'); /* Update the path to your font file */
    /* You can include additional font formats if needed, e.g., woff, ttf, eot */
}

